.ratings {
    text-align: center;
  }
  
  
  .ratings span {
    color: #cecece; /* Color gris por defecto */
    font-size: 20px;
    cursor: pointer; 
    transition: color 0.2s, transform 0.2s;
  }
  
  .ratings span.selected {
    color: #CBA73B; /* Color dorado para estrellas seleccionadas */
  }
  
  .ratings span:hover {
    color: #CBA73B; /* Color dorado para estrellas en hover */
  }
  
  .ratings span.animated-star {
    animation: star-animation 1s ease-in-out infinite;
  }
  
  @keyframes star-animation {
    0%, 100% {
      transform: scale(1); /*Tamaño original */
      opacity: 1; /* Opacidad completa */
    }
    50% {
      transform: scale(1.2); /* Aumento de tamaño*/
      opacity: 0.8; /* Reducción de opacidad */
    }
  }
  