{% extends "cabanas/layout.html" %}
{% block titulo %}Registro{% endblock %}
{% load static %}

{% block contenido %}
{% load crispy_forms_tags %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card p-2 rounded-3 shadow-lg">
        <div class="card-body p-4">
            <div class="pb-4 h-title h1 fw-normal text-center">Registrarse</div>
            <p>Completa todos los campos.</p>
            {{ form | crispy }}
            <div class="text-center">
                <button class="mt-3 btn-sample btn" type="submit">Registrarse</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
