<!DOCTYPE html>
<html>
  <head>
    <title>Crear Renta</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
    />
    <script>
      $(document).ready(function() {
          var fechasOcupadas = {{ fechas_ocupadas|safe }};
          console.log('Fechas Ocupadas:', fechasOcupadas);

          // Asegúrate de que los campos de fecha son de tipo texto para que el datepicker se aplique
          $('#id_fecha_inicio, #id_fecha_fin').attr('type', 'text');

          function disableDates(date) {
              var formattedDate = date.toISOString().split('T')[0];
              console.log('Fecha Actual:', formattedDate);
              return [fechasOcupadas.includes(formattedDate) ? false : true];
          }

          $('#id_fecha_inicio, #id_fecha_fin').datepicker({
              beforeShowDay: disableDates,
              dateFormat: 'yy-mm-dd'
          });
      });
    </script>
  </head>
  <body>
    <h2>Rentar Cabaña: {{ cabana.nombre }}</h2>
    <form method="post">
      {% csrf_token %}
      <label for="id_fecha_inicio">Fecha de Inicio:</label>
      {{ form.fecha_inicio }}
      <br />
      <label for="id_fecha_fin">Fecha de Fin:</label>
      {{ form.fecha_fin }}
      <br />
      <label for="id_metodo_pago">Método de Pago:</label>
      {{ form.metodo_pago }}
      <br />
      <label for="id_promocion">Promoción:</label>
      {{ form.promocion }}
      <br />
      <button type="submit" name="preview">Vista Previa</button>
      <button type="submit">Guardar</button>
    </form>

    {% if dias and total %}
    <h3>Vista Previa:</h3>
    <p>Número de días: {{ dias }}</p>
    <p>Total sin promoción: ${{ total }}</p>
    {% if total_con_promocion %}
    <p>Total con promoción: ${{ total_con_promocion }}</p>
    {% endif %} {% endif %}
  </body>
</html>
