{% extends "cabanas/layout.html" %}
{% block titulo %}Cabaña Rentada{% endblock %}
{% block nombreApartado %}Cabaña Rentada con éxito{% endblock nombreApartado %}
{% block contenido %}
<div class="container mt-5 text-center">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                  <h5 class="card-title">¡Gracias por rentar esta cabaña!</h5>
              </div>
              <div class="card-body">
                    <p><b>Has rentado:</b> {{renta.cabana}}.</p>
                    <p><b>Código de acceso:</b> RenC{{ renta.id }}.</p>
                    <p><b>Fecha de inicio:</b> {{ renta.fecha_inicio }}.</p>
                    <p><b>Fecha de fin:</b> {{ renta.fecha_fin }}.</p>
                    <p><b>Costo total:</b> {{ renta.total }}.</p>
                    <p><b>Método de pago:</b> {{ renta.metodo_pago }}.</p>
                    <p><b>Código QR de acceso:</b></p>
                    <img src="{{ qr_code_url }}" alt="Código QR de la renta">
              </div>
              <div class="card-footer text-right">
                  <a href="/" class="btn btn-primary btn-sample">Regresar al inicio</a>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
