{% extends "cabanas/layout.html" %} 
{% block titulo %}Rentar Cabaña{% endblock %}
{% block nombreApartado %}Rentar Cabaña{% endblock nombreApartado %}
{% block contenido %}
{% load crispy_forms_tags %}
<form method="post">
    {% csrf_token %}
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-6 mb-3" >
            <div class="input-group d-flex justify-content-center text-center">
                {{ form.fecha_inicio|as_crispy_field }}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="input-group d-flex justify-content-center text-center">
                {{ form.fecha_fin|as_crispy_field }}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="input-group d-flex justify-content-center text-center">
                {{ form.metodo_pago|as_crispy_field }}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="input-group d-flex justify-content-center text-center">
                {{ form.promocion|as_crispy_field }}
            </div>
        </div>
    </div>

    {% if dias and total %}
    <div class="mt-5 row d-flex justify-content-center text-center">
        <div class="card col-md-6">
            <div class="card-body">
                <h1 class="mb-2 h-title h1 fw-normal">Total</h1>
                <div class="row align-items-center">
                    <div class="col" style="text-decoration: line-through;">
                        ${{ total }} x {{ dias }} noches 
                    </div>
                    {% if total_con_promocion %}
                    <div class="col fw-bold">
                        ${{ total_con_promocion }} x {{ dias }} noches
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="justify-content-center text-center" style="padding-top: 20px;">
            <button type="submit" name="preview" class="btn btn-sample btn mb-3 px-5">Ver Total</button>
            {% if dias and total %}
            <button type="submit" class="btn btn-sample btn mb-3 px-5">Rentar</button>
            {% endif %}
    </div>
</form>


<!-- Modal -->
<div class="modal fade" id="modalRenta" tabindex="-1" aria-labelledby="modalRenta" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRenta">¡Gracias por rentar esta cabaña!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Proceso exitoso.
        </div>
        <div class="modal-footer">
          <button type="button" class="border-0 btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <!--<button type="button" class="border-0 btn-sample btn btn-primary">Aceptar</button>-->
        </div>
      </div>
    </div>
</div>
{% endblock %}
