{% extends "inicio/layout.html" %} 
{% block titulo %}Inicio{% endblock %}
{% block estadoCatalogo %}active{% endblock estadoCatalogo %}
{% block nombreApartado %}Catálogo{% endblock nombreApartado %}
{% block contenido %}
{% load static %}

    <p class="h2 fw-light pb-3">Promociones</p>
    <!--Promociones-->
    <div class="row g-4">
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
    </div>
    <!--Promociones-->
    <hr>
    <!--Cabañas Disponibles-->
    <div class="row g-4">
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
        <div class="col col-md-4">
            <a href="{% url "Vista_Cabana_Usuario" %}" class="text-decoration-none text-body card" >
                <img src="{% static "inicio/images/cabana.jpg" %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Bosque de Tranquilidad</h5>
                    <div class="ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                    </div>
                <p class="card-text"><b>Anfitrión: </b> Juan Pérez. <br> <b>Costo por noche: </b>$1,250 MXN.</p>
                </div>
            </a>
        </div>
    </div>
    <!--/Cabañas Disponibles-->
    
{% endblock contenido %}