{% extends "cabanas/layout.html" %}
{% block titulo %}{{cabanas.nombre}}{% endblock %}
{% block nombreApartado %}{{cabanas.nombre}}{% endblock nombreApartado %}
{% load static %}
{% block contenido %}

{% if imagenes_cabana %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in imagenes_cabana %}
            <li data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" style="height: 500px;">
        {% for imagen in imagenes_cabana %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ imagen.ruta.url }}" class="d-block w-100 img-fluid">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>
{% else %}
    <p class="text-muted text-center pt-5">No hay imágenes para mostrar.</p>
{% endif %}

<!--Descripción  general de la cabaña-->
<div class="d-flex bd-highlight">
  <p class="h3 fw-light w-100 bd-highlight my-2">{{cabanas.ubicacion}}</p>
  <form action="{% url 'Rentar_Cabana' cabanas.id%}" id="renta" method="get">
    <button type="submit" form="renta" value="Submit" class="btn-sample btn mb-3 px-5 my-2">Rentar</button>
  </form>
</div>
<p class="card-text"><b>Anfitrión: </b> {{cabanas.anfitrion}} <br> <b>Costo por noche: </b>${{cabanas.costo_noche}} MXN. <br> <b>Puede albergar: </b> {{cabanas.capacidad}} personas. <br> <b>Número de Camas: </b>{{cabanas.camas}} camas.</p>
<!--Descripción  general de la cabaña-->

<!--Servicios-->
<div class="card p-3">
  <div class="card-body">
    <div class="text-center">
      <h1 class="mb-2 h-title text-center h1 fw-normal">Servicios</h1>     
    </div>
     {{cabanas.servicios|safe}} 
     <!--Con |safe indicamos a Django que este campo(SERVICIOS) es seguro y debe interpretarse como HTML-->
  </div>
</div>
<hr>
<!--/Servicios-->


<!--Descripción apartado de comentarios-->
<p class="h3 fw-light w-100 bd-highlight my-2">Comentarios</p>
<p>Describe tu experiencia durante tu estadía en la cabaña.</p>
<!--/Descripción apartado de comentarios-->

<!-- Verificamos que el usuario esté autenticado para poder realizar un comentario -->
{% if user.is_authenticated %}
  <!-- Verificamos que el usuario ha rentado la cabaña y, por lo tanto, puede comentar -->
  {% if aprobacion_comentario %}
    <!--Si el usuario ha rentado la cabaña, pero ya realizó un comentario. Se mostrará una notificación sobre ello-->
    {% if verificacion_valoracion %}
      <div class="alert alert-warning text-center" role="alert">
        Previamente, has realizado un comentario para esta cabaña.
      </div>
    {% else %}
      <!-- Input Comentario -->
      <form action="{% url 'RegistrarValoracion' cabanas.id %}" method="POST">
        {% csrf_token %}
        <div class="ratings pb-3" id="rating">
          <input type="hidden" name="numero_estrellas" value="0" required>
          <input type="hidden" name="usuario" id="usuario" value="{{ user.id }}" required>
          <input type="hidden" name="cabana" id="cabana" value="{{ cabanas.id }}" required>
          <span class="fa fa-star animated-star" data-value="1" id="1"></span>
          <span class="fa fa-star animated-star" data-value="2" id="2"></span>
          <span class="fa fa-star animated-star" data-value="3" id="3"></span>
          <span class="fa fa-star animated-star" data-value="4" id="4"></span>
          <span class="fa fa-star animated-star" data-value="5" id="5"></span>
          <p id="Calificación-value">Calificación: 0/5 estrellas</p>
          <p id="calif">Valoración: </p>
        </div>
        <div class="input-group">
          <input type="text" class="form-control border-end-0 border" name="comentario" placeholder="Escribe aquí..." required>
          <button type="submit" class="btn-enviar-comentario btn btn-outline-secondary border-start-0 border">
            <i class='bx bx-sm bxs-send'></i>
          </button>
        </div>
      </form>
      <!-- /Input Comentario -->
    {% endif %}
  {% else %}
    <!-- El usuario está autenticado pero no ha rentado la cabaña -->
    <div class="alert alert-warning text-center" role="alert">
      No has rentado esta cabaña, por lo tanto, no puedes realizar un comentario.
    </div>
  {% endif %}
{% else %}
  <!-- El usuario no está autenticado -->
  <div class="alert alert-secondary text-center" role="alert">
    Inicia sesión para realizar un comentario.
  </div>
{% endif %}


<!--Comentario-->
{% if valoraciones %}
  {% for valoracion in valoraciones %}
  <div class="d-flex align-items-start mt-3">
    <div class="flex-shrink-0">
      <i class='bx bx-lg bxs-user-circle' style="color: #1c5052"></i>
    </div>
    <div class="flex-grow-1 ms-3">
      <div class="d-flex align-items-center mb-2">
        <b>{{valoracion.usuario}} </b>
        <b class="px-2"> • </b>
        <div class="ratings">
          <i class="fa fa-star {% if valoracion.numero_estrellas > 0 %}rating-color{% endif %}" id=""></i>
          <i class="fa fa-star {% if valoracion.numero_estrellas > 1 %}rating-color{% endif %}"></i>
          <i class="fa fa-star {% if valoracion.numero_estrellas > 2 %}rating-color{% endif %}"></i>
          <i class="fa fa-star {% if valoracion.numero_estrellas > 3 %}rating-color{% endif %}"></i>
          <i class="fa fa-star {% if valoracion.numero_estrellas > 4 %}rating-color{% endif %}"></i>
        </div>
      </div>
      <p class="mb-0">
        {{valoracion.comentario}}
      </p>
    </div>
  </div>
  {% endfor %}
{% else %}
<p class="text-muted text-center pt-5"> No hay comentarios para mostrar.</p>
{% endif %}
<!--/Comentario-->
{% endblock %}